# Rider ignored files
.idea
*.DotSettings.user
*.user

# Build results
[Bb]in/
[Oo]bj/

# SQLite databases
*.db

# Local secrets / configs
#appsettings.Development.json
appsettings.Local.json
appsettings.*.Local.json
.env

# Logs
Logs/
# Claude Code
.claude/
